In [244]:
import pandas as pd
import os

In [245]:
damage_df = pd.read_csv("original_dataset/hero_damage.csv")
kda_df = pd.read_csv("original_dataset/hero_kda.csv")
xp_gold_df = pd.read_csv("original_dataset/hero_xp_gold.csv")
id_df = pd.read_csv("original_dataset/hero_id.csv")
ban_pick_df = pd.read_csv("original_dataset/hero_banpick.csv")

In [246]:
damage_df.info()
kda_df.info()
id_df.info()
ban_pick_df.info()
xp_gold_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117 entries, 0 to 116
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   localized_name       117 non-null    object
 1   AVG Damage Received  117 non-null    float64
 2   count                117 non-null    int64
 3   winrate              117 non-null    float64
 4   winrate_wilson       117 non-null    float64
 5   sum                  117 non-null    int64
 6   min                  117 non-null    int64
 7   max                  117 non-null    int64
 8   stddev               117 non-null    float64
 9   AVG Damage Dealt     117 non-null    float64
 10  count.1              117 non-null    int64
 11  winrate.1            117 non-null    float64
 12  winrate_wilson.1     117 non-null    float64
 13  sum.1                117 non-null    int64
 14  min.1                117 non-null    int64
 15  max.1                117 non-null    int64
 16  stddev.1             117 non-null    float64
dtypes: float64(8), int64(8), object(1)
memory usage: 15.7+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117 entries, 0 to 116
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   localized_name    117 non-null    object
 1   AVG Deaths        117 non-null    float64
 2   count             117 non-null    int64
 3   winrate           117 non-null    float64
 4   winrate_wilson    117 non-null    float64
 5   sum               117 non-null    int64
 6   min_d             117 non-null    int64
 7   max_d             117 non-null    int64
 8   stddev            117 non-null    float64
 9   AVG Kills         117 non-null    float64
 10  count.1           117 non-null    int64
 11  winrate.1         117 non-null    float64
 12  winrate_wilson.1  117 non-null    float64
 13  sum.1             117 non-null    int64
 14  min_k             117 non-null    int64
 15  max_k             117 non-null    int64
 16  stddev.1          117 non-null    float64
 17  AVG Assists       117 non-null    float64
 18  count.2           117 non-null    int64
 19  winrate.2         117 non-null    float64
 20  winrate_wilson.2  117 non-null    float64
 21  sum.2             117 non-null    int64
 22  min_a             117 non-null    int64
 23  max_a             117 non-null    int64
 24  stddev.2          117 non-null    float64
dtypes: float64(12), int64(12), object(1)
memory usage: 23.0+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119 entries, 0 to 118
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              119 non-null    int64
 1   localized_name  119 non-null    object
dtypes: int64(1), object(1)
memory usage: 2.0+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117 entries, 0 to 116
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   hero_id       117 non-null    int64
 1   total         117 non-null    int64
 2   picks         117 non-null    int64
 3   bans          117 non-null    int64
 4   first_pick    117 non-null    int64
 5   first_ban     117 non-null    int64
 6   second_pick   117 non-null    int64
 7   second_ban    117 non-null    int64
 8   third_pick    117 non-null    int64
 9   third_ban     117 non-null    int64
 10  winrate       117 non-null    float64
 11  pick_winrate  117 non-null    float64
 12  ban_winrate   112 non-null    float64
dtypes: float64(3), int64(10)
memory usage: 12.0 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117 entries, 0 to 116
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   localized_name    117 non-null    object
 1   AVG Gold Per Min  117 non-null    float64
 2   count             117 non-null    int64
 3   winrate           117 non-null    float64
 4   winrate_wilson    117 non-null    float64
 5   sum               117 non-null    int64
 6   min               117 non-null    int64
 7   max               117 non-null    int64
 8   stddev            117 non-null    float64
 9   AVG XP Per Min    117 non-null    float64
 10  count.1           117 non-null    int64
 11  winrate.1         117 non-null    float64
 12  winrate_wilson.1  117 non-null    float64
 13  sum.1             117 non-null    int64
 14  min.1             117 non-null    int64
 15  max.1             117 non-null    int64
 16  stddev.1          117 non-null    float64
dtypes: float64(8), int64(8), object(1)
memory usage: 15.7+ KB

In [247]:
id_df = id_df.rename(columns={'id':'hero_id'})
id_df.head()

   hero_id     localized_name
0       76  Outworld Devourer
1       77              Lycan
2       78         Brewmaster
3       79       Shadow Demon
4       80         Lone Druid

In [248]:
kda_df = kda_df[['localized_name','AVG Deaths','AVG Kills','AVG Assists']]
kda_df = pd.merge(left= id_df, right=kda_df, left_on='localized_name', right_on="localized_name", how='right')
kda_df.head()

   hero_id     localized_name  AVG Deaths  AVG Kills  AVG Assists
0       76  Outworld Devourer    3.600000   7.166667     6.700000
1       77              Lycan    3.500000   3.500000     2.500000
2       78         Brewmaster    3.875000   2.250000     6.750000
3       79       Shadow Demon    6.694444   2.638889    12.875000
4       80         Lone Druid    3.454545   3.181818     5.909091

In [249]:
xp_gold_df = xp_gold_df[['localized_name', 'AVG Gold Per Min', 'AVG XP Per Min']]
xp_gold_df = pd.merge(left=id_df, right=xp_gold_df, left_on="localized_name", right_on="localized_name", how="right")
xp_gold_df.head()

   hero_id     localized_name  AVG Gold Per Min  AVG XP Per Min
0       76  Outworld Devourer        584.550000      652.900000
1       77              Lycan        410.000000      407.000000
2       78         Brewmaster        365.500000      434.125000
3       79       Shadow Demon        269.375000      408.006944
4       80         Lone Druid        515.090909      486.545455

In [250]:
damage_df = damage_df[['localized_name', 'AVG Damage Received', 'AVG Damage Dealt']]
damage_df = pd.merge(left=id_df, right=damage_df, left_on="localized_name", right_on="localized_name", how='right')
damage_df.head()

   hero_id     localized_name  AVG Damage Received  AVG Damage Dealt
0       76  Outworld Devourer         16114.316667      22079.933333
1       77              Lycan         13312.500000      10696.500000
2       78         Brewmaster         14497.250000      11353.125000
3       79       Shadow Demon         14456.854167       9356.138889
4       80         Lone Druid         13018.000000      14923.363636

In [251]:
ban_pick_df = pd.merge(left= id_df, right=ban_pick_df, left_on='hero_id', right_on="hero_id", how='right')
ban_pick_df = ban_pick_df.drop("first_pick", axis=1)
ban_pick_df = ban_pick_df.drop("first_ban", axis=1)
ban_pick_df = ban_pick_df.drop("second_pick", axis=1)
ban_pick_df = ban_pick_df.drop("second_ban", axis=1)
ban_pick_df = ban_pick_df.drop("third_pick", axis=1)
ban_pick_df = ban_pick_df.drop("third_ban", axis=1)
ban_pick_df = ban_pick_df.drop("pick_winrate", axis=1)
ban_pick_df = ban_pick_df.drop("ban_winrate", axis=1)
ban_pick_df.head()

   hero_id     localized_name  total  picks  bans   winrate
0       76  Outworld Devourer    250     57   193  0.552000
1       77              Lycan      6      2     4  0.333333
2       78         Brewmaster     15      8     7  0.333333
3       79       Shadow Demon    308    141   167  0.529221
4       80         Lone Druid     43     11    32  0.441860

In [252]:
damage_df.info()
kda_df.info()
ban_pick_df.info()
xp_gold_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 117 entries, 0 to 116
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   hero_id              117 non-null    int64
 1   localized_name       117 non-null    object
 2   AVG Damage Received  117 non-null    float64
 3   AVG Damage Dealt     117 non-null    float64
dtypes: float64(2), int64(1), object(1)
memory usage: 4.6+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 117 entries, 0 to 116
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   hero_id         117 non-null    int64
 1   localized_name  117 non-null    object
 2   AVG Deaths      117 non-null    float64
 3   AVG Kills       117 non-null    float64
 4   AVG Assists     117 non-null    float64
dtypes: float64(3), int64(1), object(1)
memory usage: 5.5+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 117 entries, 0 to 116
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   hero_id         117 non-null    int64
 1   localized_name  117 non-null    object
 2   total           117 non-null    int64
 3   picks           117 non-null    int64
 4   bans            117 non-null    int64
 5   winrate         117 non-null    float64
dtypes: float64(1), int64(4), object(1)
memory usage: 6.4+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 117 entries, 0 to 116
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   hero_id           117 non-null    int64
 1   localized_name    117 non-null    object
 2   AVG Gold Per Min  117 non-null    float64
 3   AVG XP Per Min    117 non-null    float64
dtypes: float64(2), int64(1), object(1)
memory usage: 4.6+ KB

In [253]:
merge_1_df = pd.merge(left=damage_df, right=kda_df, left_on="hero_id", right_on="hero_id", how='inner')
merge_2_df = pd.merge(left=xp_gold_df, right=ban_pick_df, left_on="hero_id", right_on="hero_id", how='inner')
overview_df = pd.merge(left=merge_1_df, right=merge_2_df, left_on="hero_id", right_on="hero_id", how='inner')
overview_df = overview_df.drop("localized_name_y_x", axis=1)
overview_df = overview_df.drop("localized_name_x_y", axis=1)
overview_df = overview_df.drop("localized_name_y_y", axis=1)
overview_df = overview_df.rename(columns={'localized_name_x_x':'localized_name'})
overview_df = overview_df.sort_values("hero_id", ascending=True)
overview_df = overview_df.set_index("hero_id")
overview_df.head()

,localized_name,AVG Damage Received,AVG Damage Dealt,AVG Deaths,AVG Kills,AVG Assists,AVG Gold Per Min,AVG XP Per Min,total,picks,bans,winrate
hero_id,,,,,,,,,,,,
1,Anti-Mage,14865.769231,21268.423077,2.269231,7.384615,7.000000,732.615385,761.730769,61,26,35,0.491803
2,Axe,21260.661017,17809.813559,5.186441,6.932203,10.389831,427.644068,515.864407,101,56,45,0.534653
3,Bane,14805.781250,6448.687500,6.718750,1.906250,11.593750,237.156250,330.000000,44,31,13,0.545455
4,Bloodseeker,29180.833333,33656.000000,4.833333,9.666667,12.000000,605.333333,627.666667,14,6,8,0.428571
5,Crystal Maiden,14534.808824,15432.147059,7.058824,3.220588,14.647059,332.529412,405.485294,86,67,19,0.581395

In [254]:
overview_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 117 entries, 1 to 129
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   localized_name       117 non-null    object
 1   AVG Damage Received  117 non-null    float64
 2   AVG Damage Dealt     117 non-null    float64
 3   AVG Deaths           117 non-null    float64
 4   AVG Kills            117 non-null    float64
 5   AVG Assists          117 non-null    float64
 6   AVG Gold Per Min     117 non-null    float64
 7   AVG XP Per Min       117 non-null    float64
 8   total                117 non-null    int64
 9   picks                117 non-null    int64
 10  bans                 117 non-null    int64
 11  winrate              117 non-null    float64
dtypes: float64(8), int64(3), object(1)
memory usage: 11.9+ KB

In [255]:
overview_df['kda'] = (overview_df['AVG Kills']+overview_df['AVG Assists'])/overview_df['AVG Deaths']
overview_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 117 entries, 1 to 129
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   localized_name       117 non-null    object
 1   AVG Damage Received  117 non-null    float64
 2   AVG Damage Dealt     117 non-null    float64
 3   AVG Deaths           117 non-null    float64
 4   AVG Kills            117 non-null    float64
 5   AVG Assists          117 non-null    float64
 6   AVG Gold Per Min     117 non-null    float64
 7   AVG XP Per Min       117 non-null    float64
 8   total                117 non-null    int64
 9   picks                117 non-null    int64
 10  bans                 117 non-null    int64
 11  winrate              117 non-null    float64
 12  kda                  117 non-null    float64
dtypes: float64(9), int64(3), object(1)
memory usage: 12.8+ KB

In [256]:
overview_df.to_csv('processed_dataset/hero_data.csv',index=True)